<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/YashPandey1405" style="text-decoration: none !important" target="_blank">
        <i class="fa-brands fa-github" style="color: black;"></i>
      </a>
      <a href="https://www.linkedin.com/in/yashpandey29/" style="text-decoration: none !important" target="_blank">
        <i class="fa-brands fa-linkedin" style="color: black;"></i>
      </a>
    </div>
    
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
